@font-face {
  font-family: 'Garet';
  src: url('../fonts/Garet.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Garet";
  font-size: 18px;
  line-height: 1.5;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background: #001B38;
  color: white;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

header h1 {
  font-size: 30px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

nav a:hover {
  background: #00548F;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

nav a:active {
  background: #00B1F7;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
}

.websitetitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: #001B38;
}

.profilepicture img {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 18px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

.biolayout {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.bio {
  flex: 1;
  color: #001B38;

}

.profilepicture {
  flex: 1;
  max-width: 420px;
}

video {
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: 18px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  margin-top: 1em;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #001B38;
}

input, select, textarea {
  padding: 1em;
  font-family: 'Garet';
  font-size: 1em;
  border-radius: 18px;
  color: #001B38;
}

textarea {
  resize: vertical;
}

button {
  padding: 15px 15px;
  background: #001B38;
  color: white;
  font-family: 'Garet';
  border: none;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

button:hover {
  background: #00548F;
}

button:active {
  background: #00B1F7;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: #001B38;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav {
    justify-content: flex-start;
  }

  .biolayout {
    flex-direction: column;
  }

  main {
    padding: 20px;
  }
}

.projectspage {
  margin-top: 5px;
}

.projectsintro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px auto;
  font-size: 18px;
  color: #001B38;
}

.projectsgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.project {
  background: #EBEDF0;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

.project h3 {
  margin-bottom: 20px;
  font-size: 25px;
}

.project h3 a {
  color: #001B38;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.project h3 a:hover {
  background: #00548F;
  color: white;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
}

.project h3 a:active {
  background: #00B1F7;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  color: #001B38;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .projectsgrid {
    grid-template-columns: 1fr;
  }
}


#clickimage {
  transition: border 0.3s ease;
}